html,
body {
    margin: 0;
    background-color: #202020;
    color: white;

    @font-face {
        font-family: 'Rounded';
        src: url('fonts/Typo_Round.otf');
    }
}

div {

    color: wheat;

}

.bg {
    background: url(images/bg.jpg);
    background-size: cover;
}

.banner {
    background: #009579;
    height: 100px;
    position: relative;
    z-index: 999;
}

.banner_content {
    display: flex;
    z-index: 999;
    pointer-events: none;
}

.banner_text {
    padding-top: 70px;
    flex-grow: 1;
    line-height: 1.4;
    font-family: 'Rounded';
    color: white;
    font: 500 100%/1.5 system-ui;
    pointer-events: all;

}

.banner_selected {
    color: inherit;
    text-decoration: inherit;
    margin-right: 60px;
    margin-left: 0px;
    max-height: 200%;
    background-color: #202020;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    padding-bottom: 100px;
    border-radius: 20px;
}

.banner-img {
    width: 100%;
    max-width: 50px;
    height: 100%;
    translate: 0px 25px;
    margin-right: 50px;
    pointer-events: all;
}

.mainTitle {

    color: white;
    white-space: nowrap;

    margin-right: 100px;
    margin-left: 0px;

    font-size: 5vw;
    font-size: 100px;
    translate: 15px -8px;

    vertical-align: auto;
    pointer-events: none;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.menuItem {
    color: inherit;
    text-decoration: inherit;
    margin-right: 60px;
    margin-left: 0px;
}

.menuItem:hover {
    color: yellow;
}

p.gameName {
    color: white;
    font-weight: bold;
    font-size: 30px;
}

.gameText {
    padding: 2rem;
    grid-template-columns: 300px 1fr;
    gap: 1rem;
    align-items: center;


    font: 500 100%/1.5 system-ui;
}

p.gameDescription {
    color: wheat;
}

img.gameImg {

    max-width: 100%;
    border-radius: 30px;
}

.nav-item {
    display: flex;
    align-items: center;
    float: left;
    margin-top: 100px;
    translate: 0 100%;
    text-decoration: none;
}

.nav-img {
    width: 100%;
    max-width: 50px;

    margin-left: 20px;
}

.nav-text {
    margin-left: 20px;
    font: 500 120%/1.5 system-ui;
    color: #009579;
    white-space: nowrap;
}

.icon-container {
    background-color: #202020;
    color: #fff;
    border: solid 3px;
    border-radius: 60px;
    margin: 20px;
    max-width: 200px;
    width: auto;
    max-height: 70px;
    height: 100px;
    display: flex;
    align-items: center;
    float: left;
}

.icon-container:hover {
    background-color: #009579;
    color: #009579;
}

.icon {
    width: 100%;
    margin-left: 20px;
    max-width: 50px;
    float: left;
    color: #ff0000;
}


.icon-text {
    color: #fff;
    margin-left: 20px;
    margin-right: 20px;
    font: 500 100%/1.5 system-ui;
}



.logo {
    width: 100%;
    max-width: 200px;
    border-radius: 20px;
    float: left;
    margin-right: 15px;
}

.content {
    margin-left: 15px;
    display: block;
    height: 202px;
    position: relative;
}

.inner {
    position: absolute;
    align-self: flex-end;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);
}

.itemTitle {
    font: 500 120%/1.5 system-ui;
    color: wheat;
}

.itemDate {
    font: 500 110%/1.5 system-ui;
    color: #aaa;
}

.itemText {
    font: 500 100%/1.5 system-ui;
    color: #fff;
}

img.projectImg {
    max-width: 80%;
    border-radius: 30px;
}

.item {
    float: left;

}

.gameItem {
    display: grid;
    padding: 2rem;
    grid-template-columns: 400px 1fr;
    gap: 1rem;
    align-items: center;


    font: 500 100%/1.5 system-ui;

}



.gameLink {
    color: white;
    text-decoration: inherit;
}

hr.rounded {
    border-top: 4px solid #bbb;
    border-radius: 5px;
    max-width: 30%;
}

.footer {
    flex-grow: 1;
    line-height: 1.4;
    font-family: 'Rounded';
    color: white;
    font: 500 100%/1.5 system-ui;
    text-align: center;
    transform: translateY(40px);
}

.normalText {
    padding: 20px 50px;
    display: block;
    font: 500 100%/1.5 system-ui;
    text-align: left;
    color: #fff;
}

.sectionTitle {
    padding: 0px 50px;
    font: 500 300%/1.5 system-ui;
    clear: both;
}

/* Container */

.container {
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: calc(100% - 4.5em);
    width: 45em;
}

.container.xsmall {
    width: 11.25em;
}

.container.small {
    width: 22.5em;
}

.container.medium {
    width: 33.75em;
}

.container.large {
    width: 56.25em;
}

.container.xlarge {
    width: 67.5em;
}

.container.max {
    width: 100%;
}

@media screen and (max-width: 1024px) {

    .container {
        width: 100% !important;
    }

}

@media screen and (max-width: 480px) {

    .container {
        max-width: calc(100% - 3.375em);
    }

}