html,
body {
    margin: 0;
    background-color: #202020;
    color: white;

    @font-face {
        font-family: 'Rounded';
        src: url('fonts/Typo_Round.otf');
    }
}

div {

    color: wheat;

}

.bg {
    background: url(images/bg.jpg);
    background-size: cover;
}

.banner {
    background: #009579;
    height: 100px;
    width: 100%;
    position: relative;
    z-index: 999;
}

.banner_content {
    z-index: 999;
    pointer-events: none;
}

.banner_text {
    position: absolute;
    padding-top: 70px;
    flex-grow: 0;
    line-height: 1.4;
    font-family: 'Rounded';
    color: white;
    font: 500 100%/1.5 system-ui;
    pointer-events: all;

}

.banner_selected {
    color: inherit;
    text-decoration: inherit;
    margin-right: 60px;
    margin-left: 0px;
    max-height: 200%;
    color: #202020;
    font-size: 16px;
    padding: 16px 32px;
    padding-bottom: 100px;
    border-radius: 20px;
}

.banner-img {
    width: 100%;
    max-width: 50px;
    height: 100%;
    pointer-events: all;
    margin-right: 40px;
    margin-top: 24px;
    float: right;
    top: 0;
    right: 0;
}


.banner-navbar {
    background: #009579;
    height: 0px;
    width: 100%;
    position: fixed;
    z-index: 999;
}

.mainTitle {

    color: white;
    white-space: nowrap;

    float: left;

    font-size: 5vw;
    font-size: 100px;
    translate: 15px -8px;

    pointer-events: none;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.menuItem {
    color: inherit;
    text-decoration: inherit;
    margin-right: 60px;
    margin-left: 0px;
}

.menuItem:hover {
    color: yellow;
}

p.gameName {
    color: white;
    font-weight: bold;
    font-size: 30px;
}

.gameText {
    padding: 2rem;
    grid-template-columns: 300px 1fr;
    gap: 1rem;
    align-items: center;


    font: 500 100%/1.5 system-ui;
}

p.gameDescription {
    color: wheat;
}

img.gameImg {

    max-width: 100%;
    border-radius: 30px;
}

.nav-item {
    display: flex;
    align-items: center;
    float: left;
    margin-top: 100px;
    translate: 0 100%;
    text-decoration: none;
}

.nav-img {
    width: 100%;
    max-width: 50px;

    margin-left: 20px;
}

.nav-text {
    margin-left: 20px;
    font: 500 120%/1.5 system-ui;
    color: #009579;
    white-space: nowrap;
}

.icon-container {
    background-color: #202020;
    color: #fff;
    border: solid 3px;
    border-radius: 60px;
    margin: 20px;
    max-width: 200px;
    width: auto;
    max-height: 70px;
    height: 100px;
    display: flex;
    align-items: center;
    float: left;
}



.icon-container:hover {
    background-color: #009579;
    color: #009579;
}

.icon-container:hover .icon-text {
    color: #202020;
    translate: -30px 0;
    text-align: center;

}

.icon {
    width: 100%;
    margin-left: 20px;
    max-width: 50px;
    float: left;
}


.icon-text {
    color: #fff;
    margin-left: 20px;
    margin-right: 20px;
    font: 500 100%/1.5 system-ui;
}



.logo {
    width: 100%;
    max-width: 200px;
    border-radius: 20px;
    float: left;
    margin-right: 15px;
}


.inner {
    align-self: flex-end;
    width: auto;
    color: #202020;
    border: solid 3px;
    vertical-align: baseline;
}

.inner.small {
    background-color: #009579;
}

.itemTitle {
    margin-top: 0px;
    font: 500 150%/1.5 system-ui;
    color: #009579;
    text-align: left;
}

.itemDate {
    font: 500 110%/1.5 system-ui;
    color: #aaa;
    text-align: left;
}

.itemText {
    font: 500 100%/1.5 system-ui;
    color: #fff;
    text-align: left;
    margin-bottom: 0px;
}

.gameLink {
    color: white;
    text-decoration: inherit;
}

hr.rounded {
    border-top: 4px solid #bbb;
    border-radius: 5px;
    max-width: 30%;
}

.footer {
    flex-grow: 1;
    line-height: 1.4;
    font-family: 'Rounded';
    color: white;
    font: 500 100%/1.5 system-ui;
    text-align: center;
    transform: translateY(40px);
}

.normalText {
    padding: 20px 50px;
    display: block;
    font: 500 100%/1.5 system-ui;
    text-align: left;
    color: #fff;
}

.sectionTitle {
    padding: 0px 50px;
    font: 500 300%/1.5 system-ui;
    clear: both;
}

.sidebar {
    background-color: #000;
    height: 100%;
    width: 85px;
    top: 0;
    right: 0;
    color: #fff;
    position: fixed;
}

/* Container */

.container {
    margin: 0 auto;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: calc(100% - 4.5em);
    width: 60em;
    height: auto;
    color: #202020;
    border: solid 3px;
    border-radius: 50px;
    padding: 20px;
    display: flex;
    align-items: center;
}

.main {
    overflow: hidden;
    color: #fff;
    margin-right: 100px;
}

.separator {
    width: 200px;
    margin-top: 40px;
    margin-bottom: 40px;
}


@media screen and (max-width: 1024px) {

    .container {
        width: 100% !important;
    }

}

@media only screen and (max-width: 650px) {

    .mainTitle {
        font-size: 70px;
    }

    .main {
        margin-right: 0px;
    }

    .inner {
        clear: both;
        max-width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .container {
        display: block;
    }

    .logo {
        display: block;
        width: 60%;
        max-width: fit-content;
        float: none;

        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        padding-right: 0;
    }

    .sidebar {
        width: 0;
        max-width: 0;
    }

    .banner-navbar {
        height: 60px;
    }
}